/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 35vw;
  padding-left: 2rem;
}
.logo-container {
  padding-top: 100px;

  /*            */
}
.navbar {
  color: white;
  background: var(--clr-primary-5);
  position: fixed;
  z-index: 1;

  line-height: 4rem;
  width: 100vw;
}
.login-container {
  margin-top: 100px;
  padding: 50px 20px;
}
.login-child-container {
  text-align: center;

  /*flex-wrap:wrap;*/
}
.login-child {
  background: paleturquoise;
  display: block;
  padding-right: 23px;
  box-shadow: var(--dark-shadow);
  text-align: center;
  transition: var(--transition);
  margin-bottom: 30px;
}
.login-child h3 {
  font-size: 3rem;
  margin-right: 2rem;
  text-align: center;
}
.login-child p {
  max-width: 450px;
  font-size: 2rem;

  color: white;
  letter-spacing: var(--spacing);
  text-align: center;
  margin: 0 auto;
}
.login-button {
  font-size: 1.5rem;
}
.login-button-container {
  text-align: center;
  padding-top: 23px;
  padding-bottom: 13px;
}
.login-child-container :hover {
  transform: scale(1.02);
}
.login-child-container :hover p {
  transform: scale(1);
}

.login-child-container :hover h3 {
  transform: scale(1);
}

.login-child-container :hover button {
  transform: scale(1);
}
.login-child-container :hover.login-button-container {
  transform: scale(1);
}
.login-button {
  border: none;
  font-size: 2rem;
  color: var(--clr-primary-1);
  background: var(--clr-grey-9);
}
.login-button-container :hover {
  border-bottom: 2px solid var(--clr-grey-4);
  background: var(--clr-white);
  color: rgba(23, 231, 23, 0.7);
}
@media screen and (min-width: 1028px) {
  .logo {
  }
  .logo-container {
    width: 100vw;

    /*            */
  }
  .navbar {
    width: 100vw;
  }
  .login-child-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.gallery {
  padding: 34px;
}
.flex-container-for-image-container {
}
.gallery-image {
  height: 17em;
  border-radius: 8px;
  display: inline;
}
.gallery-img-container {
  display: inline;
}
